# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.keystore
**/*.jks

# iOS
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Pods/
**/ios/*.xcworkspace/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# IntelliJ / Android Studio
*.iml
.idea/
**/.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
